<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multidialect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiDialect">
        <activity
            android:name=".MaterialsLearn"
            android:exported="false" />
        <activity
            android:name=".ScoreNotifyAct"
            android:exported="false" />
        <activity
            android:name=".GameMultiAct"
            android:exported="false" />
        <activity
            android:name=".RegisterAct"
            android:exported="false" />
        <activity
            android:name=".QuestionsAct"
            android:exported="false" />
        <activity
            android:name=".OptionsAct"
            android:exported="false" />
        <activity
            android:name=".TopicAct"
            android:exported="false" />
        <activity
            android:name=".LoginAct"
            android:exported="false" />
        <activity
            android:name=".StartScreenAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>